$dark-text-color: hsl(0, 6%, 24%);
$red-text-color: hsl(0, 36%, 70%);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: $red-text-color;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);  
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	color: $dark-text-color;
}

.banner {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100vh;
	position: relative;
	&__body {
		height: 100vh;
		width: 60%;
		padding: 60px 10% 150px 10%;
		background-image:linear-gradient(135deg, rgba(#fff6f7, 0.6),  rgba(#ffffff, 0.6)), url(./../images/bg-pattern-desktop.svg);
		background-size: cover;
		overflow: hidden;
		@media (max-width: 767.9px) {
			width: 100%;
			padding: 30px;
		}
	}

	&__header {
		height: 27%;
		@media (max-width: 767.9px) {
			height: 10%;
		}
	}

	&__logo {
		display: block;
		width: 200px;
		height: 50px;
		& img {
			max-width: 100%;
		}
		@media (max-width: 767.9px) {
			width: 100px;
			height: 25px;
		}
	}

	&__content {
		height: 73%;
		@media (max-width: 767.9px) {
			height: 90%;
			padding-top: 32vh;
		}
	}
	&__title {
		font-size: 50px;
		text-transform: uppercase;
		letter-spacing: 12px;
		margin-bottom: 30px;
		font-weight: 600;
		& span {
			color: $red-text-color;
			font-weight: 300;
		}
		@media (max-width: 767.9px) {
			font-size: 44px;
			text-align: center;
			letter-spacing: 10px;
			margin-bottom: 25px;
		}
	}
	&__text {
		color: $red-text-color;
		letter-spacing: 2px;
		line-height: 1.2;
		margin-bottom: 50px;
		@media (max-width: 767.9px) {
			font-size: 15px;
			text-align: center;
			letter-spacing: normal;
			line-height: 1.6;
			margin-bottom: 30px;
		}
	}
	&__image {
		width: 40%;
		height: 100vh;
		background: url(./../images/hero-desktop.jpg) top/cover;
		@media (max-width: 767.9px) {
			position: absolute;
			background: url(./../images/hero-mobile.jpg) top/cover;
			top: 9%;
			left: 0;
			width: 100%;
			height: 30vh;
		}
	}
}

.form {
	border: 1px solid rgba($red-text-color, 0.7);
	border-right: none;
	border-radius: 50px;
	display: inline-flex;
	align-items: stretch;
	position: relative;
	&.error-form {
		border: 1px solid rgba(red, 1.0);
		.form__button{
			transform: translateX(80px);
		}
	}
	&::after {
		content: url(./../images/icon-error.svg);
		display: block;
		position: absolute;
		right: 30px;
		top: 50%;
		transform: translateY(-50%);
		width: 25px;
		height: 25px;
	}
	&__input {
		background-color: transparent;
		color: $red-text-color;
		padding: 20px 30px;
		width: 280px;
		border: none;
		outline: none;
		&::placeholder {
			color: $red-text-color;
			font-family: 'Josefin Sans', sans-serif;
			font-weight: 300;
			font-size: 18px;
			line-height: 1;
			@media (max-width: 767.9px) {
				font-size: 16px;
			}
		}
		@media (max-width: 767.9px) {
			padding: 15px 22px;
			font-size: 16px;
			width: 200px;
		}
	}
	&__button {
		width: 100px;
		border: none;
		border-radius: 100px;
		background: linear-gradient(135deg, hsl(0, 80%, 86%),rgb(238, 140, 140));
		z-index: 2;
		outline: none;
		box-shadow: 0 12px 10px 0px rgba(238, 140, 140, 0.3);
		transition: all 0.3s ease 0s;
		@media (max-width: 767.9px) {
			width: 70px;
		}
	}
	&__message {
		display: block;
		margin-top: 10px;
		margin-left: 30px;
		font-size: 14px;
	}
}